<h1>Mechanic Information</h1>

<section id='info'>
  <h3><%= @mechanic.name %></h3>
  <ul>
    <li>Years of Experience: <%= @mechanic.years_of_experience %></li>
    <li id='ride-assignments'>Open Rides Currently Working On:
      <ol>
        <% @mechanic.open_rides.each do |ride| %>
          <li class='ride'><%= ride.name %></li>
        <% end %>
      </ol>
    </li>
  </ul>
</section>
<br>
<section id='add-assignment'>
  <%= form_with url: "/mechanics/#{@mechanic.id}/rides", method: :post, local: true do |form| %>
    <%= form.label :ride_id, 'Ride ID:' %>
    <%= form.text_field :ride_id %>
    <%= form.submit 'Submit' %>
  <% end %>
</section>
